# Centroides del resultado final

In [1]:
import pandas as pd
import numpy as np
import json

import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
# interactivo, exportable:
%matplotlib notebook
# más rápido:
# %matplotlib inline

centroids = {}

for day in ['19may','20may','21may','22may','23may','24may','25may']:
    c_rawjson = json.load(open("centroids.{}.json".format(day)))

    centroids[day] = pd.DataFrame([c['center'] for c in c_rawjson])

centroids['21may']

,dst_ip,proto,src_port,dst_port,anom_level,max_prio,count_events,000009,avg_duration,stdev_duration,00000c,00000d
0,4.80514,0.04395,9.98093,1.41045,0.00000,5.00000,18.16667,7331.02156,7914.26119,1.78275,2.17413,6.09619
1,58.61328,0.07595,257.97569,2.06424,10.06380,4.00087,697.09332,10231.86328,34366.40104,74.43229,74.32509,126.63151
2,52.93117,1.64372,171.56478,3.87045,4.61134,4.11538,400.45142,15995.24291,65689.04251,44.95344,35.91498,94.30162
3,33.25556,0.21111,86.52222,2.13333,84.13333,4.38889,2015.05556,358479.48889,722651.46667,23.28889,22.38889,43.60000
4,46.50000,0.50000,15709.50000,3.00000,0.00000,4.50000,68211.50000,0.00000,1.00000,21119.50000,21090.00000,25994.50000

## Selección de características

In [2]:
x_varnames = ['dst_ip', 'proto', 'src_port', 'dst_port', 'max_prio', 'count_events', 'avg_duration','stdev_duration']

x_vars = {}
for day in ['19may','20may','21may','22may','23may','24may','25may']:
    x_vars[day] = centroids[day].loc[: , centroids[day].columns.isin(x_varnames)]
#for n in x_varnames:
#    x_vars.append(centroids[n].iloc[: , :].values)

In [3]:
x_vars['19may']

,dst_ip,proto,src_port,dst_port,max_prio,count_events,avg_duration,stdev_duration
0,14.36877,0.91403,30.71805,2.08824,4.19200,93.89411,8.591931e+04,2.661488e+05
1,6.01804,0.00095,11.60096,1.65770,4.00017,37.34305,2.814073e+04,6.248710e+04
2,24.64706,0.49020,2191.00000,2.00000,4.50980,86121.09804,8.512289e+05,3.709370e+06
3,2.80882,0.02243,3.69528,1.32046,5.00000,16.00688,6.686527e+04,3.459539e+04
4,7.69652,0.06257,12.92530,2.24677,4.19007,1595.11654,7.224113e+06,1.398783e+07

In [4]:
x_vars['20may']

,dst_ip,proto,src_port,dst_port,max_prio,count_events,avg_duration,stdev_duration
0,43.84316,0.04837,112.67718,2.04181,4.00000,296.99434,14157.92980,54004.72215
1,97.34976,0.16824,492.50022,2.23692,4.00119,1239.55768,10575.59195,66178.72904
2,5.11645,0.03475,9.84700,1.44820,5.00000,20.30733,19812.79107,20215.99608
3,68.50611,0.31239,7324.59511,2.18674,4.05759,38265.85515,4469.58464,99635.59162
4,43.60057,1.72259,137.24005,4.11450,4.16152,359.39521,65984.58362,187667.52753

In [5]:
x_vars['21may']

,dst_ip,proto,src_port,dst_port,max_prio,count_events,avg_duration,stdev_duration
0,4.80514,0.04395,9.98093,1.41045,5.00000,18.16667,7914.26119,1.78275
1,58.61328,0.07595,257.97569,2.06424,4.00087,697.09332,34366.40104,74.43229
2,52.93117,1.64372,171.56478,3.87045,4.11538,400.45142,65689.04251,44.95344
3,33.25556,0.21111,86.52222,2.13333,4.38889,2015.05556,722651.46667,23.28889
4,46.50000,0.50000,15709.50000,3.00000,4.50000,68211.50000,1.00000,21119.50000

In [6]:
x_vars['22may']

,dst_ip,proto,src_port,dst_port,max_prio,count_events,avg_duration,stdev_duration
0,57.97209,0.28652,253.07345,2.13778,4.00061,679.49076,10235.43411,36196.79903
1,40.46416,0.36007,114.77645,2.30034,4.26451,489.55973,249823.38737,617650.08703
2,6.02046,0.10247,13.55686,1.44002,4.99797,23.83739,7345.21212,9476.48047
3,7.14881,1.39583,130.93452,10.94048,4.19345,264.87798,20494.34226,75272.26190
4,45.00000,2.00000,16152.00000,4.00000,4.00000,94864.00000,10.00000,1164.00000

In [7]:
x_vars['23may']

,dst_ip,proto,src_port,dst_port,max_prio,count_events,avg_duration,stdev_duration
0,6.21987,0.08465,12.88631,1.50636,5.00000,21.53616,8.968844e+03,7923.57668
1,56.84590,0.33985,202.58551,2.17969,4.00043,523.68805,1.027965e+04,32559.60156
2,64.25430,0.00043,7209.30164,2.00000,4.13167,26836.11403,6.439548e+02,7962.58219
3,26.92878,0.81070,107.49697,5.37070,4.23481,408.55701,1.018409e+05,365880.91254
4,1.20349,0.00000,1.20543,1.00194,5.00000,141.85465,1.925538e+06,338833.03876

In [8]:
x_vars['24may']

,dst_ip,proto,src_port,dst_port,max_prio,count_events,avg_duration,stdev_duration
0,55.42397,0.00793,227.65998,2.10401,3.99720,610.90485,22825.61567,97734.84981
1,6.30008,0.02190,13.40876,1.48256,5.00000,22.57015,17373.38281,15749.55474
2,53.53086,1.36111,169.91358,2.48457,4.02623,497.80864,18522.75154,70955.22377
3,5.78182,1.38182,115.85455,11.09091,4.20000,256.49091,24985.20000,92374.05455
4,75.75000,0.06250,7933.31250,2.18750,4.06250,30504.37500,856.00000,25463.00000

In [9]:
x_vars['25may']

,dst_ip,proto,src_port,dst_port,max_prio,count_events,avg_duration,stdev_duration
0,54.51417,0.04203,257.24389,2.02590,4.00098,660.99560,9426.71261,33187.10117
1,5.54273,0.00900,17.40630,1.38681,4.99400,34.45727,8385.74213,9746.59820
2,6.15385,0.66667,65.48718,5.41026,4.48718,367.28205,503875.35897,735594.61538
3,68.48148,0.07407,8785.88889,2.07407,4.03704,35278.18519,771.92593,6427.07407
4,50.07285,1.60927,234.74834,2.48344,4.11258,602.45033,16391.64901,57167.76159

In [ ]:
xvar = 'dst_ip'
yvar = 'proto'

x_min, x_max = x_vars['21may'][xvar].min() - 1, x_vars['21may'][xvar].max() + 1
y_min, y_max = x_vars['21may'][yvar].min() - 1, x_vars['21may'][yvar].max() + 1
h = 5 # resolution in the meshgrid. higher h -> lower MemAllocated
xx, yy = np.meshgrid(np.arange(x_min, x_max, h), np.arange(y_min, y_max, h))

In [ ]:
#%%time

#plt.imshow(Z , interpolation='nearest', 
#           extent=(xx.min(), xx.max(), yy.min(), yy.max()),
#           cmap = plt.cm.Pastel2, aspect = 'auto', origin='lower')

plt.scatter( x = x_varnames[i][0], y = x_varnames[i][1], data = centroids['21may'], c = labels, s = 50 )
plt.scatter(x = centroids[: , 0] , y =  centroids[: , 1] , s = 20 , c = 'red' , alpha = 0.5)
plt.ylabel(f'{xvar}') , plt.xlabel(f'{yvar}')
plt.grid()
plt.title(f"Visualizando {xvar} frente a {yvar}")
plt.show()